// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/homepage/homepage";

.summary {
  background-color: #fbfbdc;
}

.report {
  border-bottom: 1px solid #DDD !important;

  ion-label {
    display: flex;
    flex-direction: row;

    .column {
      flex: 1;

      p {
        margin: 10px 0 0;
      }

      .price {
        font-size: 1.2em;
        color: #000;
      }

      .company {
        color: #000;
        font-weight: bold;
      }
    }

    .right {
      text-align: right;
    }
  }
}

#sidebar-menu {

  scroll-content {
    display: flex;
    flex-direction: column;

    .first-block {
      flex: 1;
    }

    .second-block {
      margin-bottom: 0;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.26);
    }
  }
}
