// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/homepage/homepage";
@import "../pages/visit-report-list/visit-report-list";

.cheguei-menu-toolbar {
  font-family: $styleFont;

  .toolbar-title {
    text-transform: capitalize;
  }
}

.toolbar-background {
  transition: background 0.2s;
}

.selectedReports {

  .toolbar-background {
    background: #FFF !important;
  }

  .toolbar-title, ion-icon {
    color: #757575 !important;
  }

  .top-icon {
    padding-right: 30px;
  }
}

.draft {
  background-color: #fbfbdc;
}

.sub-list {

  button, ion-item {
    color: #444;

    ion-icon {
      color: #737373;
    }
  }
}

.report {
  border-bottom: 1px solid #DDD !important;

  .avatar {
    background: #6dcc2a;
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    text-transform: uppercase;
    float: left;
    margin-right: 20px;
  }

  .draft-avatar {
    @extend .avatar;

    background: #ffd180;
    color: #775924;
  }

  ion-label {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 0px 0px;

    .column {
      flex: 1;

      p {
        margin: 10px 0 0;
      }

      .price {
        font-size: 1.2em;
        color: #000;
      }

      .company {
        color: #000;
        font-weight: bold;
      }
    }

    .right {
      text-align: right;
    }
  }
}

.selected-report {
  @extend .report;

  background: #ebf2ff;

  .avatar {
    background: #757575;
  }

  .draft-avatar {
    color: rgba(255, 255, 255, 0.75);
  }
}

#sidebar-menu {

  scroll-content {
    padding-top: 10px;

    button {
      font-weight: 500;
      color: #444;

      ion-icon {
        color: #737373;
      }
    }

    .second-block {
      padding-top: 10px;
      margin-top: 10px;
      border-top: #F4F4F4 1px solid;
    }
  }
}
