
<ion-navbar *navbar danger>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Configurações</ion-title>
  <ion-buttons end>
    <button royal (click)="saveConfigs()">
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content>
  <ion-item-divider light>Regras de notificações</ion-item-divider>
  <ion-list no-lines>
    <ion-item>
      <ion-icon name="locate" item-left></ion-icon>
      <ion-label>Geolocalização</ion-label>
      <ion-toggle secondary [(ngModel)]="notificationRole.geolocalization"
        (click) ="toggleNotificationRole('hour')"></ion-toggle>
    </ion-item>
    <ion-list no-lines *ngIf="notificationRole.geolocalization" class="sub-list">
      <button ion-item (click)="openSearchAddressPage()">
        <ion-icon name="pin" item-left></ion-icon>
        <ion-label>{{ notificationRole.geolocConfig.address || 'Endereço' }}</ion-label>
      </button>
    </ion-list>

    <ion-item>
      <ion-icon name="time" item-left></ion-icon>
      <ion-label>Horário</ion-label>
      <ion-toggle secondary [(ngModel)]="notificationRole.hour"
        (click)="toggleNotificationRole('geolocalization')"></ion-toggle>
    </ion-item>

    <ion-list *ngIf="notificationRole.hour" class="sub-list">
      <ion-item>
        <ion-icon name="sunny" item-left></ion-icon>
        <ion-label>Chegada</ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="notificationRole.hourConfig.arriveTime"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-icon name="restaurant" item-left></ion-icon>
        <ion-label>Almoço</ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="notificationRole.hourConfig.launchTime"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-icon name="cafe" item-left></ion-icon>
        <ion-label>Volta almoço</ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="notificationRole.hourConfig.backLaunchTime"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-icon name="moon" item-left></ion-icon>
        <ion-label>Saída</ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="notificationRole.hourConfig.endDayTime"></ion-datetime>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-icon name="calendar" item-left></ion-icon>
      <button round secondary class="week-day" *ngFor="let wd of notificationRole.weekDay"
        [attr.clear]="!wd.checked ? '' : null" (click)="toggleWeekDay(wd)">
        {{ wd.shortName }}
      </button>
    </ion-item>
  </ion-list>
  <ion-item-divider light>Valores padrões</ion-item-divider>
  <ion-list no-lines>
    <ion-item>
      <ion-label stacked>Valor almoço diário</ion-label>
      <ion-input type="number" placeholder="30" [(ngModel)]="defaultValues.launchPrice"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Valor transporte diário</ion-label>
      <ion-input type="number" placeholder="15" [(ngModel)]="defaultValues.transportPrice"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Descrição padrão</ion-label>
      <ion-input type="text" placeholder="Excelente dia de trabalho" [(ngModel)]="defaultValues.reportDescription"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
