
<ion-navbar *navbar danger>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Configurações</ion-title>
</ion-navbar>

<ion-content>
  <ion-list>
    <ion-list-header>Regras de notificações</ion-list-header>
    <ion-item>
      <ion-label>Geolocalização</ion-label>
      <ion-toggle secondary [(ngModel)]="notificationRole.geolocalization"
        (click) ="toggleNotificationRole('hour')"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="notificationRole.geolocalization">
      <ion-label>Endereço</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Horário</ion-label>
      <ion-toggle secondary [(ngModel)]="notificationRole.hour"
        (click)="toggleNotificationRole('geolocalization')"></ion-toggle>
    </ion-item>

    <ion-list *ngIf="notificationRole.hour">
      <ion-item>
        <ion-label>Chegada</ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="hourConfig.arriveTime"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Almoço</ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="hourConfig.launchTime"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Volta almoço</ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="hourConfig.backLaunchTime"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Saída</ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="hourConfig.endDayTime"></ion-datetime>
      </ion-item>
    </ion-list>

    <ion-list-header>Valores padrões</ion-list-header>
    <ion-item>
      <ion-label>Valor almoço diário</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Valor transporte diário</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descrição padrão</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
