
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Resumo</ion-title>
</ion-navbar>


<ion-content padding class="getting-started">

  <ion-list no-borders>
    <ion-list-header>
      Mês de Junho
    </ion-list-header>

    <ion-item>
      <ion-icon name='cash' item-left></ion-icon>
      Valor total
      <ion-note item-right>
        R$ {{ total }}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name='clock' item-left></ion-icon>
      Horas totais
      <ion-note item-right>
        {{ totalHours }} h
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name='clock' item-left></ion-icon>
      Horas produtivas
      <ion-note item-right>
        {{ productiveHours }} h
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name='car' item-left></ion-icon>
      Quilômetragem
      <ion-note item-right>
        {{ mileage }} KG
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Reembolsos
    </ion-list-header>

    <!-- Summary List -->
    <ion-item-sliding>
      <ion-item *ngFor="let v of visitsReportSummaries" class="summary">
        <h2>{{ v.descricao }}</h2>
        <p><strong>{{ v.cliente }}</strong></p>
        <h4>RASCUNHO</h4>

        <ion-note item-right>
          <p>{{ v.data | date:"dd/MM/yyyy" }}</p>
          <p>R$ {{ sumReportCost(v) }}</p>
        </ion-note>
      </ion-item>
      <ion-item-options>
        <button secondary>
          <ion-icon name="checkmark"></ion-icon>
          Salvar
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <!-- Visit Report List -->
    <ion-item *ngFor="let v of visitsReport">
      <h2>{{ v.descricao }}</h2>
      <p><strong>{{ v.cliente }}</strong></p>
      <h4>RASCUNHO</h4>

      <ion-note item-right>
        <p>{{ v.data | date:"dd/MM/yyyy" }}</p>
        <p>R$ {{ sumReportCost(v) }}</p>
      </ion-note>
    </ion-item>
  </ion-list>

  <button fab fab-right fab-bottom fab-fixed><ion-icon name="add"></ion-icon></button>

</ion-content>
