
<ion-navbar *navbar danger>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Resumo</ion-title>
</ion-navbar>


<ion-content class="getting-started">
  <ion-item-divider light>Mês de Junho</ion-item-divider>
  <ion-list no-lines class="overview">
    <ion-item>
      <ion-icon name='cash' item-left></ion-icon>
      Valor total
      <ion-note item-right>
        R$ {{ total }}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="time" item-left></ion-icon>
      Horas totais
      <ion-note item-right>
        {{ totalHours }} h
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="time" item-left></ion-icon>
      Horas produtivas
      <ion-note item-right>
        {{ productiveHours }} h
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name='car' item-left></ion-icon>
      Quilômetragem
      <ion-note item-right>
        {{ mileage }} Km
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-item-divider light>Reembolsos</ion-item-divider>
  <ion-list no-lines>
    <!-- Draft List -->
    <ion-item-sliding *ngFor="let v of visitsReportDrafts">
      <button ion-item class="report draft" (click)="openEditPage(v)">
        <div class="column">
          <div class="draft-avatar" item-left>
            <ion-icon name="paper"></ion-icon>
          </div>
          <h2>{{ v.descricao }}</h2>
          <p class="company">{{ v.cliente }}</p>
        </div>
        <div class="column right">
          <h3>{{ v.data | date:"dd/MM/yyyy" }}</h3>
          <p class="price">R$ {{ sumReportCost(v) }}</p>
        </div>
      </button>
      <ion-item-options>
        <button secondary (click)="saveDraft(v)">
          <ion-icon name="checkmark"></ion-icon>
          Salvar
        </button>
        <button danger (click)="deleteDraft(v)">
          <ion-icon name="trash"></ion-icon>
          Deletar
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <!-- Visit Report List -->
    <button ion-item *ngFor="let v of visitsReport" class="report" (click)="openEditPage(v)">
      <div class="column">
        <div class="avatar" item-left>
          {{ v.cliente[0] }}
        </div>
        <h2>{{ v.descricao }}</h2>
        <p class="company">{{ v.cliente }}</p>
      </div>
      <div class="column right">
        <h3>{{ v.data | date:"dd/MM/yyyy" }}</h3>
        <p class="price">R$ {{ sumReportCost(v) }}</p>
      </div>
    </button>
  </ion-list>

  <button fab fab-right fab-bottom fab-fixed danger (click)="openNewReportPage()"><ion-icon name="add"></ion-icon></button>

</ion-content>
