.getting-started {

  ion-item-divider {
    border-bottom: 0;
  }

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }

  .overview {
    margin: 0;
    padding: 10px 0;

    ion-item {

      ion-icon {
        color: #555;
      }

      ion-label {
        color: #666;
        font-size: 0.9em;
      }

      ion-note {
        color: #333;
        font-family: $styleFont;
      }
    }
  }
}
