.login-page {

  .slide-zoom {
    height: 100%;
  }

  .art-box {
    height: 100%;

    ion-icon {
      font-size: 3em;
      margin-top: 30%;
      margin-bottom: 30px;
    }

    ion-icon[name="paper"] {
      color: #ffd180;
    }

    h1 {
      font-family: $styleFont;
      color: #333;
    }

    h5 {
      color: #666;
      font-size: 0.8em;
      font-weight: normal;
    }
  }

  ion-title {
    font-family: $styleFont;

    .toolbar-title {
      text-transform: capitalize;
    }
  }

  button[block] {
    margin-top: 20px;
  }

  ion-item {
    background: none;
  }

  ion-item.input.ng-untouched::after {
    border-color: #CCC;
  }

  ion-item.input.input-has-focus::after {
    border-color: #387ef5;
  }

  .error-box {
    border: 1px solid #e93a3a;
    color: #e93a3a;
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
    margin-bottom: 10px;
    font-family: $styleFont;
  }
}
