<ion-navbar *navbar danger [ngClass]="{'selectedReports' : isAnyReportSelected()}">
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title *ngIf="!isAnyReportSelected()">Reembolsos</ion-title>
  <ion-title *ngIf="isAnyReportSelected()">
    {{ selectedReportsCount }}
  </ion-title>
  <ion-buttons end>
    <button (click)="deleteReports()" *ngIf="isAnyReportSelected()"
      class="disable-hover bar-button bar-button-default bar-button-icon-only top-icon">
      <ion-icon name="trash"></ion-icon>
    </button>
    <button (click)="openApproveReportsPage()" *ngIf="isAnyReportSelected()"
      class="disable-hover bar-button bar-button-default bar-button-icon-only top-icon">
      <ion-icon name="checkmark-circle"></ion-icon>
    </button>
    <button (click)="presentActionList()">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content>
  <ion-list no-borders>
    <ion-item>
      <ion-label>Mês</ion-label>
        <ion-select [(ngModel)]="month">
          <ion-option *ngFor="let m of monthList" value="{{ m }}">{{ m }}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Cliente</ion-label>
        <ion-select [(ngModel)]="client">
          <ion-option *ngFor="let c of clientLists" value="{{ c }}">{{ c }}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Usuário</ion-label>
        <ion-select [(ngModel)]="user">
          <ion-option *ngFor="let u of userList" value="{{ u }}">{{ u }}</ion-option>
        </ion-select>
    </ion-item>
  </ion-list>
  <ion-item-divider light>Reembolsos</ion-item-divider>
  <ion-list no-lines>
    <!-- Draft List -->
    <ion-item-sliding *ngFor="let v of visitsReportDrafts">
      <button ion-item class="report draft" (click)="openEditDraft(v)">
        <div class="column">
          <div class="draft-avatar" item-left>
            <ion-icon name="paper"></ion-icon>
          </div>
          <h2>{{ v.descricao }}</h2>
          <p class="company">{{ v.cliente }}</p>
        </div>
        <div class="column right">
          <h3>{{ v.data | date:"dd MMM yyyy " }}</h3>
          <p class="price">R$ {{ sumReportCost(v) }}</p>
        </div>
      </button>
      <ion-item-options>
        <button secondary (click)="saveDraft(v)">
          <ion-icon name="checkmark"></ion-icon>
          Salvar
        </button>
        <button danger (click)="deleteDraft(v)">
          <ion-icon name="trash"></ion-icon>
          Deletar
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <!-- Visit Report List -->
    <button ion-item *ngFor="let v of visitsReport"
      [ngClass]="{'selected-report': v.selected, 'report': !v.selected}"
      (press)="pressReport(v)" (click)="openEditPage(v)">
      <div class="column">
        <div class="avatar" item-left>
          {{ v.cliente[0] }}
        </div>
        <h2>{{ v.descricao }}</h2>
        <p class="company">{{ v.cliente }}</p>
      </div>
      <div class="column right">
        <h3>{{ v.data | date:"dd MMM yyyy " }}</h3>
        <p class="price">R$ {{ sumReportCost(v) }}</p>
      </div>
    </button>
  </ion-list>

  <button fab fab-right fab-bottom fab-fixed danger (click)="openNewReportPage()"><ion-icon name="add"></ion-icon></button>
</ion-content>
